 <style>
    .w3-table-all tr:nth-child(odd){background-color:#fff}
    .w3-table-all tr:nth-child(even){background-color:#f1f1f1}
    .w3-table-all tr:nth-child(even).selected{background-color:#66a5ad}
    .w3-table-all tr:nth-child(odd).selected{background-color:#c4dfe6}

    .w3-hoverable tbody tr:hover{background-color:#ccc}
    .w3-table-all td,.w3-table-all th{padding:6px 8px;display:table-cell;text-align:left;vertical-align:top}
    .w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
    .w3-table-all th{background-color:#4DBF1C; color:white}
		.w3-table-all td input {display:none;}
		@media print
		{    
			.no-print, .no-print *
			{
					display: none !important;
			}
		}
		@media screen
		{    
			.no-screen, .no-screen *
			{
				display: none !important;
			}
		}		
		
	#printButton{
    background: #3B6BF3;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
	}
		
.story .select {display:none;}
th.select_header {display:none;}
body{
			margin: 3px;
			padding: 0px;

		}
		.story_row{
			width: 100%;
		}
		.story_card{
			width: 345px;
			height: 245px;
			display: inline-block;
			border: 1px solid black;
			margin: 3px 3px 4px;
			position: relative;
			float: left;
		}
		.story_card.hidden{
			display:none;
		}

		.story_card.first_row{
			margin-top:8px;
		}
		.story_card_top{
			border-bottom: 1px solid black;
			height: 25px;
			padding: 4px 5px 6px;
			font-size: 20px;
			font-family: Verdana;
		}
		.story_id{
			float: left;
			text-align: left;
			color: #254CBB;
		}
		.story_points{
			float: right;
			text-align: right;
			color: #254CBB;
		}
		.story_card_body{
			height: 155px;
			padding: 5px;
			font-size: 25px;
		}
		.story_card_bottom {
		    /* border-top: 1px solid black; */
		    /* height: 25px; */
		    padding: 4px 5px 6px;
		    font-size: 20px;
		    font-family: Verdana;
		    position: absolute;
		    bottom: 5px;
		    width: 245px;
		    border-radius: 5px;
		    left: 5px;
		}
		.story_epic{
			float: left;
			text-align: left;
		}
		.parent_generic{
			background: #cccccc;
		}
		.epic_generic{
			background: #f79232;
			color: white;
		}
		.story_qrcode {
		    position: absolute;
		    bottom: 1px;
		    right: 10px;
		    overflow: hidden;
		}		
  </style>
